// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


@mixin base-footer {
  background-image: url('./../../assets/images/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  @include base-footer;
  padding: 30px 0;
}

.footer-links {
  @include base-footer;
}
