// Body
$body-bg: #ECE2DF;
$font-family-sans-serif: "Montserrat", "Poppins", system-ui, -apple-system, "Segoe UI", Roboto;

// Color
$primary: #810081;
$secondary: #28213D;

// Navigation
$nav-link-color: #000;

$nav-tabs-link-active-color: #810081;
$nav-tabs-link-active-bg: transparent;

$nav-pills-link-active-color: #810081;
$nav-pills-link-active-bg: transparent;
