@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Poppins';
}

/*
text-fuchsia-700 - primary
text-fuchsia-900 - primary darker
text-fuchsia-600 - primary lighter
*/
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* .about-me>span:nth-child(1) {
  -webkit-transform: translateX(-1px) translateY(68px) rotate(-17deg);
  -moz-transform: translateX(-1px) translateY(68px) rotate(-17deg);
  -ms-transform: translateX(-1px) translateY(68px) rotate(-17deg);
  -o-transform: translateX(-1px) translateY(68px) rotate(-17deg);
  transform: translateX(-1px) translateY(68px) rotate(-17deg);

  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
} */
